<p id="notice"><%= notice %></p>

<h1>タイムライン</h1>

<%= link_to '投稿', new_post_path %>

<table class="spacing">
    <% @posts.reverse_each do |post| %>
      <tr>
        <td><%= link_to post.user.name, user_path(post.user) %> |
          <div class="arrow_box">
          <%= link_to post.body, post_path(post) %></div>
        </td>
      </tr>
    <% end %>
</table>

<br>


